.container-login {
	 background-image: url('../imgs/sfondo-login.jpg');
	 background-position:bottom; 
	 background-size: cover;
	 background-repeat:no-repeat;
	 background-attachment: fixed;
}

.container-registrazione {
	 background-image: url('../imgs/sfondo-reg.jpg');
	 background-position:bottom; 
	 background-size: cover;
	 background-repeat:no-repeat;
	 background-attachment: fixed;
}

.mydark-dropdown-menu .mydark-dropdown-item {
	color: #ffffff;
	text-decoration: none;
	transition: 0.5s;
}

.mydark-dropdown-item:hover {
	color: black;
}

@media screen and (min-width: 1025px){
	.dropdown:hover .mydark-dropdown-menu{
		display: block;
		margin-top: 0;
	}
}


* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

#grad1 {
    background-image: url('../imgs/sfondo-checkout.jpg');
    background-position:bottom; 
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;
    position: relative
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px
}

#msform .action-button-previous:hover, .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

/*Titoli passaggi*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}
/*Testo passaggi checkout*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #292b2c;
}

/*Testo passaggio checkout attivo*/
#progressbar .active {
    color: skyblue;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #spedizione:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #fatturazione:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #pagamento:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #terminato:before {
    font-family: FontAwesome;
    content: "\f00c"
}

/* Cerchi checkout*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: #292b2c;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

/* Linee cerchi checkout*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #292b2c;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

/*Colore passaggi checkout visualizzabili */
#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover
}	