<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>NetPharma</display-name>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>
    	Riferimento JNDI ad un data source
    </description>
    <res-ref-name>jdbc/NetPharmaDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>httpHeaderSecurity</filter-name>
    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
    <init-param>
      <param-name>xssProtectionEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>antiClickJackingEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>antiClickJackingOption</param-name>
      <param-value>DENY</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>httpHeaderSecurity</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
 <filter> 
    <filter-name>ClienteFilter</filter-name>
    <filter-class>main.filter.ClienteFilter</filter-class>
 </filter>
 <filter-mapping> 
    <filter-name>ClienteFilter</filter-name>
    <url-pattern>/cliente/*</url-pattern>
 </filter-mapping> 

 <filter>
    <filter-name>GestoreOrdiniFilter</filter-name>
    <filter-class>main.filter.GestoreOrdiniFilter</filter-class>
 </filter>
 <filter-mapping>
    <filter-name>GestoreOrdiniFilter</filter-name>
    <url-pattern>/gestoreOrdini/*</url-pattern>
 </filter-mapping> 
 
  <filter>
    <filter-name>GestoreCatalogoFilter</filter-name>
    <filter-class>main.filter.GestoreCatalogoFilter</filter-class>
 </filter>
 <filter-mapping>
    <filter-name>GestoreCatalogoFilter</filter-name>
    <url-pattern>/gestoreCatalogo/*</url-pattern>
 </filter-mapping> 
  
   <error-page>
	<location>/error/genericError.jsp</location>
  </error-page>
  
</web-app>